# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
downloads/

# Unit test / coverage reports
htmlcov/
.coverage
.pytest_cache/
*.py,cover

# Translations
*.mo
*.pot

# Sphinx documentation
docs/_build/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# poetry
poetry.lock

# IDEs
.idea/
.vscode/