[tool.poetry]
name = "selva"
version = "0.8.0"
description = "ASGI Web Framework with Dependency Injection"
authors = ["Livio Ribeiro <livioribeiro@outlook.com>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/livioribeiro/selva"
keywords = ["asgi", "framework", "asyncio", "web"]
classifiers = [
    "Development Status :: 4 - Beta",
    "Environment :: Web Environment",
    "Framework :: AsyncIO",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: Implementation :: CPython",
    "Topic :: Internet :: WWW/HTTP",
    "Topic :: Internet :: WWW/HTTP :: Dynamic Content",
    "Topic :: Software Development :: Libraries :: Application Frameworks",
]
packages = [
    { include = "selva", from = "src" },
    { include = "selva/py.typed", from = "src" },
]

[tool.poetry.dependencies]
python = "^3.11"
asgikit = "^0.5"
pydantic = "^2.4"
loguru = "^0.7"
python-dotenv = "^1.0.0"
jinja2 = { version = "^3.1", optional = true }
strictyaml = "^1.7"

[tool.poetry.extras]
jinja = ["jinja2"]

[tool.poetry.group.dev]
optional = true

[tool.poetry.group.dev.dependencies]
uvicorn = { version = "^0.23", extras = ["standard"] }

[tool.poetry.group.test]
optional = true

[tool.poetry.group.test.dependencies]
pytest = "^7.4"
pytest-asyncio = "^0.21"
pytest-cov = "^4.1"
coverage = { version = "^7.3", extras = ["toml"] }

[tool.poetry.group.lint]
optional = true

[tool.poetry.group.lint.dependencies]
pylint = "^3.0"
black = "^23.10"
isort = "^5.12"
flake8 = "^6.1"
mypy = "^1.6"
ruff = "^0.1"

[tool.poetry.group.docs]
optional = true

[tool.poetry.group.docs.dependencies]
mkdocs-material = "^9.4"

[tool.pytest.ini_options]
asyncio_mode = "auto"
testpaths = [
    "tests",
]

[tool.coverage.run]
source = ["src"]

[tool.pylint.MASTER]
disable = ["C0114", "C0115", "C0116"] # ignore missing docstrings

[tool.mypy]
ignore_missing_imports = true

[tool.black]
line-length = 88
target-version = ['py310']
extend-exclude = "^/tests/configuration/invalid_settings/configuration/settings\\.py"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
