[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "selva"
version = "0.1.0"
description = "ASGI Web Framework with Dependency Injection"
authors = ["Livio Ribeiro <livioribeiro@outlook.com>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/livioribeiro/selva"
keywords = ["asgi", "framework", "asyncio", "web"]
classifiers = [
    "Development Status :: 4 - Beta",
    "Environment :: Web Environment",
    "Framework :: AsyncIO",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.10",
    "Topic :: Internet :: WWW/HTTP",
    "Topic :: Internet :: WWW/HTTP :: Dynamic Content",
    "Topic :: Software Development :: Libraries :: Application Frameworks",
]
packages = [
    { include = "selva", from = "src" }
]

[tool.poetry.dependencies]
python = "^3.10"
asgikit = "^0.1.2"
tomli = { version = "^2.0.0", python = "< 3.11" }

[tool.poetry.dev-dependencies]
uvicorn = { version = "^0.17.6", extras = ["standard"] }
pytest = "^7.1.2"
pytest-asyncio = "^0.18.3"
coverage = { version = "^6.4", extras = ["toml"] }
pylint = "^2.14.1"
black = "^22.3.0"
isort = "^5.10.1"
flake8 = "^4.0.1"
mypy = "^0.961"

[tool.pytest.ini_options]
asyncio_mode = "auto"
testpaths = [
    "tests",
]

[tool.coverage.run]
source = ["src"]

[tool.pylint.MASTER]
disable = ["C0114", "C0115", "C0116"] # ignore missing docstrings

[tool.mypy]
ignore_missing_imports = true
