extensions:
  - selva.ext.data.sqlalchemy

data:
  sqlalchemy:
    session:
      options:
        class: sqlalchemy.ext.asyncio.AsyncSession
        expire_on_commit: false
      binds:
        application.model.Base: default
        application.model.OtherBase: other
    connections:
      default:
        drivername: sqlite+aiosqlite
        database: ":memory:"
        options:
          echo: true
      other:
        url: "postgresql+psycopg://localhost:5432/test"
        username: postgres
        password: postgres
        options:
          pool_size: 10
          pool_recycle: 3600
          echo: true

logging:
  format: console
  root: debug
  level:
    application: info